@charset "UTF-8";

/*
#28527a 濃紺
#8ac4d0 薄紺
#f4d160 濃黄
#fbeeac 薄黄
#eee 薄灰
*/

p {
    font-weight: 500;
}

section>p {
    margin-top: 16px;
}

section {
    padding: 56px 16px;
}

.dispPc {
    display: block!important;
}

.dispSp {
    display: none!important;
}

@media screen and (max-width: 768px) {
    section {
        padding: 40px 16px;
    }
    .dispPc {
        display: none!important;
    }
    .dispSp {
        display: block!important;
    }
}

main>article>:first-child {
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Yu Gothic", "Meiryo", "ヒラギノ角ゴ";
}

*,
*::before,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #000;
    letter-spacing: 1px;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    height: 100%;
}

*:focus {
    outline: none!important;
    background-color: #d3d6db!important;
}

input {
    outline: none!important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 8px;
}

li:before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: #28527a;
    border-radius: 50%;
    position: relative;
    top: -1px;
    margin-right: 10px;
}

li>ul {
    padding-left: 30px;
}

.headingA {
    font-size: 2rem;
    text-align: center;
    margin: 56px auto 24px;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    .headingA {
        margin: 30px auto 8px;
    }
}

@media screen and (max-width: 480px) {
    .headingA {
        font-size: 1.6rem;
    }
}

section>.headingA:first-child {
    margin-top: 0;
}

section>* {
    margin: 0 auto;
    max-width: 1280px;
}

.uC28527a {
    color: #28527a!important;
}

.uFs22 {
    font-size: 2.2rem;
}

.uFwb {
    font-weight: bold;
}

.bgE {
    background: #eee;
}

.bgMain {
    background: #8ac4d0;
}

.uTaC {
    text-align: center;
}

.uMb16 {
    margin-bottom: 16px;
}

.uMt0 {
    margin-top: 0!important;
}

.uMb24 {
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .uMb8Tab {
        margin-bottom: 8px!important;
    }
    .uMbTab16 {
        margin-bottom: 16px!important;
    }
}

.uP0 {
    padding: 0!important;
}

.uMax1000>* {
    max-width: 1000px;
}

.w100 {
    width: 100%;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.bg.-visible:before {
    transform: translate(0, 0);
}

.bg:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #28527a;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

.delete {
    opacity: 0!important;
    transition: all 0.7s;
    visibility: hidden!important;
    overflow: hidden;
    width: 0%;
    height: 0;
}

.delete.bg.-visible:before {
    content: none;
    transform: translate(-100%, -100%);
    width: 0%;
    height: 0%;
}

.title {
    display: block;
    color: #fff;
    text-align: center;
}

.title span {
    display: block;
    opacity: 0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
}

.title span:nth-child(1) {
    transform: translate(0, 40px);
    font-size: 3rem;
    transition-delay: 0.25s;
}

.title span:nth-child(2) {
    margin-top: 18px;
    transform: translate(0, 30px);
    font-size: 3rem;
    transition-delay: 0.45s;
}

.title span:nth-child(3) {
    margin-top: 18px;
    transform: translate(0, 30px);
    font-size: 3rem;
    transition-delay: 0.65s;
}

.bg.-visible .title span {
    opacity: 1;
    transform: translate(0, 0);
}

.-visible {
    visibility: visible!important;
}


/*heroArea Start*/

.heroArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 360px;
    background: white;
}

.heroOutSide {
    background: linear-gradient(90deg, #28527a 50%, white 50%);
}

.heroArea>.mainTxt>h1 {
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0px;
    padding: 20px 16px;
    position: relative;
    color: #000;
    background: rgba(255, 255, 255, 0);
    font-size: 1.8rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), #fff 0%, #fff 82%, rgba(255, 255, 255, 0));
    margin-bottom: 20px;
}

.topBorder {
    position: absolute;
    width: 100%;
    left: 0;
    top: -3px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(163, 11, 26, .7) 0%, rgba(163, 11, 26, .7) 65%, rgba(255, 255, 255, 0));
}

.bottomBorder {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(163, 11, 26, .7) 0%, rgba(163, 11, 26, .7) 65%, rgba(255, 255, 255, 0));
}

.heroArea>.mainTxt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    left: 0;
    z-index: 2;
    max-width: 100%;
    padding: 24px 16px 24px;
}

.heroArea>.mainTxt>p {
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 900;
}

.heroArea>.mainTxt>p:before,
.heroArea>.mainTxt>p:after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #f4d160;
    vertical-align: middle;
}

.heroArea>.mainTxt>p:before {
    transform: rotate( 60deg);
    margin-right: 10px;
}

.heroArea>.mainTxt>p:after {
    transform: rotate( -60deg);
    margin-left: 10px;
}

.heroArea>.mainTxt>a {
    max-width: 420px;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    background: #f4d160;
    text-align: center;
    padding: 8px 16px;
    transition: all 0.4s;
    border: solid 3px #f4d160;
}

.heroArea>.mainTxt>a:hover {
    background: white;
}

.heroArea>img {
    position: absolute;
    max-height: 360px;
    right: 0;
    top: 0;
}

.flash {
    animation: flashTxt 5s linear infinite;
}

@keyframes flashTxt {
    0%,
    50%,
    100% {
        opacity: 0;
    }
    25% {
        opacity: 1;
        color: #f4d160;
    }
    75% {
        opacity: 1;
        color: #f4d160;
    }
}

@media screen and (max-width: 768px) {
    .heroArea {
        padding-top: 20px;
        flex-direction: column-reverse;
    }
    .heroArea>.mainTxt {
        position: static;
    }
    .heroArea>img {
        position: static;
        max-width: 100%;
    }
    .heroArea>.mainTxt>h1 {
        font-size: 1.6rem;
        text-align: center;
        padding: 0;
        background-image: none;
        margin-bottom: 10px;
    }
    .heroArea>.mainTxt>a {
        font-size: 1.4rem;
    }
    .topBorder,
    .bottomBorder {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .heroArea>.mainTxt>h1 {
        margin-bottom: 0px;
    }
}


/*heroArea End*/


/*taskSolBox Start*/

.taskSolBox {
    display: flex;
    justify-content: center;
}

.taskSolBox>div {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 24px 16px;
    margin-right: 12px;
    box-shadow: 6px 6px 8px #bebebe;
}

.taskSolBox>div>h3 {
    font-size: 1.5rem;
    text-align: center;
}

.taskSolBox>div:last-child {
    margin-right: 0;
}

.cursor.taskSolBox>div {
    position: relative;
    margin-bottom: 60px;
}

.cursor.taskSolBox>div::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -54px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-top: 34px solid #28527a;
    border-bottom: 0 solid transparent;
}

.taskSolBox>div>img {
    margin: 0px 0 12px;
    max-width: 200px;
}

.swiper-container {
    display: none;
}

@media screen and (max-width: 900px) {
    .swiper-container {
        display: block;
    }
    .taskSolBox,
    .cursor.taskSolBox>div,
    .dispNone900 {
        display: none;
    }
    .cursor.taskSolBox>div::after {
        content: '';
    }
    /*slide Start*/
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: none;
    }
    .swiper-slide {
        height: auto;
    }
    .topSlideTitle {
        font-size: 1.4rem;
        margin-top: 8px;
    }
    .topSlideSummary {
        margin-top: 8px;
    }
    .taskSol900 {
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .taskSol900>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: stretch;
        align-items: center;
        background: white;
        padding: 24px 16px;
        text-align: center;
    }
    .taskSol900>div:last-child {
        margin-top: auto;
    }
    .taskSol900>div>h3 {
        font-size: 1.4rem;
    }
    .cursor {
        position: relative;
        margin-bottom: 60px;
    }
    .cursor::after {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: -49px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border: 24px solid transparent;
        border-top: 34px solid #28527a;
        border-bottom: 0 solid transparent;
    }
    .taskSol900>div>img {
        margin: 0px 0 12px;
        max-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .taskSol900>div {
        padding: 16px 16px;
    }
    .taskSol900>div>img {
        margin: 8px 0;
    }
    .taskSol900>div:last-child {
        margin-top: initial;
    }
}


/*slide End*/


/*taskSolBox End*/


/*cvArea End*/

.cvArea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1280px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
}

.cvArea>img:hover {
    opacity: 0.8;
}

.bgW.cvAreaTxt {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background: white;
    justify-content: center;
}

.cvAreaTxt {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background: #8ac4d0;
    justify-content: center;
}

.cvArea>img {
    width: 50%;
    object-fit: cover;
}

.cvBtn {
    max-width: 460px;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    background: #f4d160;
    text-align: center;
    padding: 8px 16px;
    transition: all 0.4s;
    border: solid 3px #f4d160;
}

.cvBtn:hover {
    background: white;
}

@media screen and (max-width: 768px) {
    .cvArea {
        flex-direction: column;
    }
    .bgW.cvAreaTxt {
        width: 100%;
    }
    .cvAreaTxt {
        width: 100%;
    }
    .cvArea>img {
        width: 100%;
    }
    .cvBtn {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .cvBtn {
        font-size: 1.4rem;
    }
}


/*cvArea End*/


/*numArea Start*/

.numArea {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.numArea:last-child {
    flex-direction: row-reverse;
}

.numLetter {
    padding-right: 16px;
    width: 50%;
}

.numArea:last-child>.numLetter {
    padding-left: 16px;
    padding-right: 0px;
}

.numLetter>h3 {
    text-align: center;
    font-size: 1.6rem;
}

.numLetter>p {
    margin-top: 16px;
}

.numArea>img {
    width: 50%;
    height: fit-content;
}

@media screen and (max-width: 768px) {
    .numArea {
        flex-direction: column;
        margin-top: 10px;
    }
    .numArea:last-child {
        flex-direction: column;
        margin-top: 20px;
    }
    .numArea>img {
        width: 100%;
    }
    .numLetter {
        width: 100%;
        padding: 0;
    }
    .numArea:last-child>.numLetter {
        padding-left: 0px;
        padding-right: 0px;
    }
    .numLetter>p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}


/*numArea End*/


/*accordionArea Start*/

#aParts1,
#aParts2,
#aParts3,
#aParts4,
#aParts5 {
    display: none;
    transition: all 0.5s;
    padding: 16px 8px;
    background: #fbeeac;
}

#aParts1>p,
#aParts2>p,
#aParts3>p,
#aParts4>p,
#aParts5>p {
    display: flex;
    align-items: center;
}

.disp {
    display: block!important;
    transition: all 0.5s;
}

.accordionParts {
    position: relative;
    border-bottom: solid 4px #eee;
    transition: all 0.5s;
}

.accordionParts:last-child {
    border-bottom: none;
}

#qParts1,
#qParts2,
#qParts3,
#qParts4,
#qParts5 {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    cursor: pointer;
}

#close1,
#close2,
#close3,
#close4,
#close5 {
    position: relative;
    right: 0;
}

#close1::before,
#close2::before,
#close3::before,
#close4::before,
#close5::before,
#close1::after,
#close2::after,
#close3::after,
#close4::after,
#close5::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 5px;
    background: #28527a;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#close1::after,
#close2::after,
#close3::after,
#close4::after,
#close5::after {
    background: #28527a;
    transform: translateY(-50%) rotate(90deg);
    transition: 0.5s;
}

.open::after {
    transform: rotate(0)!important;
    transition: 0.5s!important;
    opacity: 0;
}

#qParts1>p,
#qParts2>p,
#qParts3>p,
#qParts4>p,
#qParts5>p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.icon {
    padding: 18px;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    background: #28527a;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}


/*accordionArea End*/


/*footer Start*/

footer {
    width: 100%;
    background: #fff;
    padding: 30px 16px;
    font-size: 0.8rem;
    box-shadow: 0px -22px 22px -22px #bebebe;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.footerInner>div>img {
    width: 100%;
    max-width: 280px;
}

.snsCopy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.snsCopy>div {
    text-align: center;
}

.snsCopy>div>a>img {
    width: 44px;
    height: 44px;
}

.snsCopy>div>a {
    text-decoration: none;
    margin-right: 8px;
}

.snsCopy>div>a:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 30px 16px 100px;
    }
}

@media screen and (max-width: 700px) {
    .footerInner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerInner>div {
        text-align: center;
    }
    .footerInner>div>p {
        margin-top: 8px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 30px 16px 78px;
    }
}


/*footer End*/


/*cvBanner Start*/

.cvBanner {
    position: fixed;
    right: -100%;
    bottom: 30px;
    text-align: right;
    max-width: 250px;
    z-index: 99;
    visibility: hidden;
    transition: all 0.6s;
}

.bannerArea {
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: all 0.4s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bannerArea>img {
    max-width: 250px;
    width: 100%;
    background: transparent;
    padding: 16px 0px;
}

.cvBanner>div:nth-child(2) {
    overflow: hidden;
    margin-bottom: 30px;
}

.cvBanner>div:nth-child(2):hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.cvBannerDisp {
    visibility: visible;
    right: 16px;
}

#bannerCan {
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    color: #000;
    background: #fbeeac;
    width: 30px;
    height: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.bannerBtn {
    background: #f4d160;
    padding: 8px 16px;
    font-size: 1.2rem;
    border-radius: 8px;
    line-height: 1.5;
}

.bannerBtn>h2 {
    font-size: 1.3rem;
}

.bannerBtn>p {
    font-size: 1rem;
}

.totop {
    width: 54px;
    height: 54px;
    margin: 20px auto 0;
    text-decoration: none;
    opacity: 0.8;
}

.totop>img {
    width: 100%;
    max-width: 54px;
    border-radius: 10px;
}

.bannerBtn>p:before,
.bannerBtn>p:after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #28527a;
    vertical-align: middle;
}

.bannerBtn>p:before {
    transform: rotate( 60deg);
    margin-right: 10px;
}

.bannerBtn>p:after {
    transform: rotate( -60deg);
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .bannerBtn {
        border-radius: 0px;
    }
    #bannerCan,
    .bannerArea>img {
        display: none;
    }
    .cvBanner {
        right: initial;
        bottom: 0;
        text-align: initial;
        max-width: 100%;
        width: 100%;
        z-index: 99;
        display: flex;
        flex-direction: column-reverse;
    }
    .cvBanner>div:nth-child(2) {
        border-radius: 0px;
        margin-bottom: 0px;
    }
    .cvBanner>div:nth-child(2):hover {
        transform: initial;
        transition-duration: initial;
    }
    .totop {
        width: 54px;
        height: 54px;
        margin: 0 10px 10px auto;
        text-decoration: none;
        opacity: 0.8;
    }
    .totop>img {
        width: 100%;
        max-width: 54px;
        border-radius: 10px;
        opacity: 0.8;
    }
    .cvBannerDisp {
        display: flex!important;
    }
}


/*cvBanner End*/


/*fadein Start*/

.fadeinY {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
}

.fadeinXR {
    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);
    transition: all 1s;
}

.fadeinXL {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: all 1s;
}

.fadeinXR.isShow,
.fadeinXL.isShow,
.fadeinY.isShow {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transform: translateY(0px);
}


/*fadein End*/